<!--
File Name: home.ejs
Student's Name: Samantha Ortiz de Foronda Rojas
StudentID: 301284463
Date: 02/09/2023
-->
<%-include partials/header.ejs%>
  <!-- Start Navbar -->
            <%-include partials/main_nav.ejs%>
         <!-- End Navbar -->
        <!-- Start Banner Container -->
        <div class="bg-light-gray padding-100px-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 order-2 order-md-1 xs-padding-50px-tb">
                        <!-- Start Left Content -->
                        <div class="padding-twenty-top sm-padding-fifteen-top xs-no-padding">
                            <h5 class="no-margin font-size18 xs-font-size16 text-medium-gray padding-twelve-top sm-padding-five-top xs-no-padding">Hello, I am</h5>
                            <h1 class="text-uppercase font-size48 md-font-size42 sm-font-size36 xs-font-size26 font-weight-700 margin-20px-bottom">Samantha Ortiz de Foronda</h1>
                            <em style="padding-bottom: 20px;">"Always give the best you have. What you plant now you'll harvest later"</em>
                            <br>
                            <br>
                            <p class="width-50 md-width-75 xs-width-100 font-size16 xs-font-size14 border-top border-bottom padding-10px-tb">UX Designer</p>
                            <div class="social-links margin-30px-bottom xs-margin-20px-bottom">
                                <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                                <a href="javascript:void(0);"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <a class="btn white" href="/about">About Me <i class="fas fa-arrow-right font-size15 margin-5px-left"></i></a>
                        </div>
                        <!-- End Left Content -->
                    </div>
                    <div class="col-md-5 col-sm-12 order-1 order-md-2 text-right xs-text-center xs-border-bottom xs-padding-nineteen-half-lr border-color-medium-gray">
                        <!-- Start Right Image -->
                        <img src ="\Assets\images\Image Home.png"  style="width: 400px;">
                        <!-- End Right Image -->
                    </div>
      
                </div>
                
            </div>
        </div>
        <!-- End Banner Container -->

       

   <!-- End Header -->

 </body>
  
  <!--<h1><%= title %></h1>-->
  <!--<p>Welcome to <%= title %></p>-->
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>
