<!--
File Name: home.ejs
Student's Name: Samantha Ortiz de Foronda Rojas
StudentID: 301284463
Date: 02/09/2023
-->
<%-include partials/header.ejs%>
  <!-- Start Navbar -->
            <%-include partials/main_nav.ejs%>
         <!-- End Navbar -->
        <!-- Start Banner Container -->
        <div class="bg-light-gray padding-100px-top">
            <div class="container">
                <div class="row" style="padding-bottom: 5%;">
                    <div class="col-sm-8">
                        <!-- Start Left Content -->
                        <div style="padding-top: 10%;">
                            <h5 class="no-margin font-size18 text-medium-gray ">Hello, I am</h5>
                            <h1 class="text-uppercase  font-weight " style="font-size: 48px; padding-top: 10px;">Samantha Ortiz de Foronda</h1>
                            <em style="padding-bottom: 20px;">"Always give the best you have. What you plant now you'll harvest later"</em>
                            <br>
                            <br>
                            <p class="width-50 font-size16 border-top border-bottom padding-5px">UX Designer</p>
                            <div class="social-links" style="padding-bottom: 20px;">
                                <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                                <a href="javascript:void(0);"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <a class="btn white" href="/about">About Me <i class="fas fa-arrow-right " ></i></a>
                            
                        </div>
                        <!-- End Left Content -->
                    </div>
                    <div class="col-sm-4">
                        <!-- Start Right Image -->
                        <img src ="\Assets\images\Image Home.png"  style="width: 400px; height: max-content;">
                        <!-- End Right Image -->
                    </div>
      
                </div>
                
            </div>
        </div>
        <!-- End Banner Container -->

       

   <!-- End Header -->

 </body>
  
  <!--<h1><%= title %></h1>-->
  <!--<p>Welcome to <%= title %></p>-->
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>
